*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0 2rem;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #050505;
    color: #999;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
    margin-top: 1rem;
    color: #fff;
    font-weight: 500;
}
h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

input {
    cursor: pointer;
    padding: 0.25rem 1.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    font-size: 0.875rem;
    border: 1px solid #999;
    color-scheme: dark;
}
input[type="date"]:focus {
    border: 2px solid #fff;
}

input[type="submit"] {
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
}
input:hover {
    color-scheme: light;
    background-color: #f0f0f0d2;
    color: black;
}

ul,
form {
    margin-top: 1rem;
}
li {
    list-style: none;
    font-size: 1rem;
    cursor: pointer;
}

li:hover {
    color: white;
}
li:active {
    scale: 1.1;
    translate: 0.5rem 0;
}

footer {
    text-align: right;
}
