nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.collapsible {
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-align: right;
    outline: none;
    font-size: 2rem;
}

.active,
.collapsible:hover::after {
    color: #fff;
}

.collapsible:after {
    content: "\2630";
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\0078";
    background-color: #050505;
    color: white;
    padding: 0 0.5rem;
}

.content {
    /* padding: 0 18px; */
    width: fit-content;
    min-width: 10rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navLinks {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    background-color: #050505;
    cursor: pointer;
    color: #999;
    font-size: 1.25rem;
}

.navLinks:hover {
    color: white;
}
.navLinks:active {
    scale: 1.05;
    translate: -0.5rem 0;
}
